body{
    color: rgb(196, 225, 250);
    background-color: black;
}

.heading{
    width: 80%;
    font-size: 22px;
}

#camera{
    border: 2px dashed white;
    width: 350px;
    height: 300px;
}

.name_of_objects,#result_object_name,#result_object_accuracy {
    color: rgb(255, 134, 255);
    font-size: larger;
}
